<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="blog.domain.model.Post" alias="Post"/>
        <typeAlias type="blog.domain.model.Member" alias="Member"/>
        <typeAlias type="blog.domain.model.Comment" alias="Comment"/>
    </typeAliases>
</configuration>