<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
</head>
<div class="container-sm mt-5 justify-content-center col-sm-6">
    <h2 class="text-center mb-4">Sign Up</h2>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form>
                <div class="mb-3">
                    <label for="name" class="form-label">이름</label>
                    <input type="text" class="form-control" id="name" placeholder="이름을 입력하세요" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">이메일 주소</label>
                    <input type="email" class="form-control" id="email" placeholder="이메일 주소를 입력하세요" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">비밀번호</label>
                    <input type="password" class="form-control" id="password" minlength="8">
                    <small class="text-muted">8자리 이상 입력해주세요.</small>
                </div>
                <button type="submit" class="btn btn-primary">회원가입</button>
                <button type="button" class="btn btn-secondary">취소</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>